@import "tailwindcss";
@import "./styles/animations/glitch.css";



@font-face {
    font-family: 'Minecraft';
    src: url('/fonts/Minecraft.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft';
    src: url('/fonts/Minecraft-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


* {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
    outline: none;
    /*webkit ring color*/

}



* {
    -webkit-tap-highlight-color: transparent;

    -webkit-touch-callout: none;
    user-select: none;
    outline: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Minecraft', sans-serif;
    background: #f0f0f0;
    image-rendering: pixelated;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

.glitch-1 {
    animation: glitch 1s linear infinite;
}

@keyframes glitch {

    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }

    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

.glitch-1:before,
.glitch-1:after {
    content: attr(title);
    position: absolute;
    left: 0;
}

.glitch-1:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 2px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

.glitch-1:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {

    2%,
    64% {
        transform: translate(-2px, 0);
    }

    4%,
    60% {
        transform: translate(-2px, 0);
    }

    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}

.react-flow__panel.react-flow__attribution {
    display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
